<h1>{{ title }}</h1>

<app-slides></app-slides>

<!-- <app-test [val]="title" (send)="imprimer($event)"></app-test> -->

<ul>
  <li>{{ nbClassicRooms }} salles classiques</li>
  <li>{{ nbVirtualRooms }} salles de réalité virtuelle</li>
  <li>Soit {{ nbClassicRooms + nbVirtualRooms }} salles</li>
  <li>Soit {{ (nbClassicRooms + nbVirtualRooms) * 60 }} minutes</li>
  <li>{{ lastLi() }}</li>
  <li>De {{ ageMin }} à {{ ageMax }} ans</li>
</ul>

<h2>Réservation :</h2>
<app-reservation></app-reservation>